body{
    background-color: #fff5ee;
    margin: auto;
}

header{
    
    position: sticky
    
}

button{
   
    border-radius:20%;

}

#buy{
    height: 40px;
}

#sell{
    height: 40px;
}

#test{
    height: 40px;
    width: 80px;
}

#login{
    position: relative;
    left: 500px;
    height: 40px;
    width: 100px;
    
}



#register{
    position: relative;
    left: 500px;
    height: 40px;
    width: 100px;
    
}

#banner{
    position: relative;
    top: 100px;
    margin: 5px;
    padding: 5px;
    border: red solid 1px;
    text-align: center;
    margin: auto;
    color: black;
}

h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }

  #DDRlogo {
    top: 100px;
    position: relative;
    text-align: center;
    

     }

#secured {
     position: relative;
    top:270px;
    font-size:20px;
     left: 400px;
    font-weight: bold;
}

  #NEOlogo {
    position: relative;
    top: 100px;
    font-size:20px;

   left: 800px;
  }
