nav {
  width: 100vw;
   height: 7vh;
  
  background-color: var(--font-color);  
/*     padding: var(--small-padding);
    border-bottom-right-radius: var(--border-radius-outer); */
    box-shadow: var(--box-shadow);
  }
  
  #NavbarNew{
    background-color: transparent;

  }


 /*  .nav-link{
    color: rgb(25, 9, 100) !important;
    font-size: larger;
  }

  #nav-links:hover{
    background-color: #b4b0af;
    border-radius: 0;
    
  }

  nav a {
    color: var(--lightBackground);
    font-size: 90%;
  } */
  
 


  
  
  @media only screen and (max-width: 768px){
    nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 9vh;
      

      background-color: var(--font-color);
    /*     padding: var(--small-padding);
        border-bottom-right-radius: var(--border-radius-outer); */
        box-shadow: var(--box-shadow);
      }

      


    }